<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoloWanderlust</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>SoloWanderlust</h1>

    <div id="slideshow" class="slideshow-container">
        <div class="slide fade">
            <img src="{{ url_for('static', filename='images/singapore.jpeg') }}" alt="Singapore">
        </div>
        <div class="slide fade">
            <img src="{{ url_for('static', filename='images/tokyo.jpeg') }}" alt="Tokyo">
        </div>
        <div class="slide fade">
            <img src="{{ url_for('static', filename='images/london.jpeg') }}" alt="London">
        </div>
        <div class="slide fade">
            <img src="{{ url_for('static', filename='images/washingtondc.jpeg') }}" alt="Washington DC">
        </div>

        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>
    </div>

    <form id="preference-form">
        <label for="activities">Preferred Activities:</label>
        <input type="text" id="activities" name="activities">
        
        <label for="budget">Budget per Night:</label>
        <input type="number" id="budget" name="budget">
        
        <label for="trip-duration">Trip Duration (days):</label>
        <input type="number" id="trip-duration" name="trip-duration">

        <label for="country-list">List of countries that you are considering to travel to:</label>
        <select id="country-list" name="countries" multiple>
            {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Find Destinations</button>
    </form>
    
    <div id="loading-indicator">Loading, please wait...</div>

    <div id="results"></div>

    <script>
        let slideIndex = 0;

        function showSlides() {
            let slides = document.getElementsByClassName("slide");
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }    
            slides[slideIndex - 1].style.display = "block";  
            setTimeout(showSlides, 3000); // Change image every 3 seconds
        }

        function changeSlide(n) {
            slideIndex += n;
            let slides = document.getElementsByClassName("slide");
            if (slideIndex > slides.length) { slideIndex = 1 }
            if (slideIndex < 1) { slideIndex = slides.length }
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slides[slideIndex - 1].style.display = "block";
        }

        showSlides();

        async function fetchCountryData(countryName) {
            const apiKey = "{{ OPENCAGE_API_KEY }}";
            const cd = {{ cd | tojson }};

            try {
                const geocodeResponse = await fetch(`https://api.opencagedata.com/geocode/v1/json?q=${encodeURIComponent(cd[countryName])}+${encodeURIComponent(countryName)}&key=${apiKey}`);
                const geocodeData = await geocodeResponse.json();
                const { lat, lng } = geocodeData.results[0]?.geometry || {};
                if (!lat || !lng) {
                    console.error('Geocode data not found for country:', countryName);
                    return null;
                }

                const countryResponse = await fetch(`https://restcountries.com/v3.1/name/${countryName}`);
                const countryData = await countryResponse.json();
                const currency = Object.keys(countryData[0].currencies)[0];

                return { country: countryName, latitude: lat, longitude: lng, currency: currency };
            } catch (error) {
                console.error('Error fetching country data:', error);
                return null;
            }
        }

        async function getSelectedCountriesData() {
            const selectedOptions = Array.from(document.getElementById('country-list').selectedOptions);
            const countryDataPromises = selectedOptions.map(option => fetchCountryData(option.value));
            const countryData = await Promise.all(countryDataPromises);

            // Filter out any null results (in case of errors)
            const validCountryData = countryData.filter(data => data !== null);

            // Extract countries, coordinates, and currencies
            const countries = validCountryData.map(data => data.country);
            const coordinates = validCountryData.map(data => [data.latitude, data.longitude]);
            const currencies = validCountryData.map(data => data.currency);

            return { countries, coordinates, currencies };
        }

        document.getElementById('preference-form').addEventListener('submit', async function(event) {
            event.preventDefault();

            const resultsDiv = document.getElementById('results');
            resultsDiv.innerHTML = "";

            const loadingIndicator = document.getElementById('loading-indicator');
            loadingIndicator.style.display = "block";

            const budget = parseInt(document.getElementById('budget').value);
            const tripDuration = parseInt(document.getElementById('trip-duration').value);

            if (isNaN(budget) || budget <= 0) {
                resultsDiv.innerHTML = `<p>Please enter a valid budget greater than zero.</p>`;
                budgetField.focus();
                loadingIndicator.style.display = "none";
                return;
            }

            if (isNaN(tripDuration) || tripDuration <= 0) {
                resultsDiv.innerHTML += `<p>Please enter a valid trip duration greater than zero.</p>`;
                tripDurationField.focus();
                loadingIndicator.style.display = "none";
                return;
            }

            try {
                const { countries, coordinates, currencies } = await getSelectedCountriesData();

                const userPreferences = {
                    activities: document.getElementById('activities').value,
                    budget: budget,
                    trip_duration: tripDuration
                };

                const weights = [0.4, 0.3, 0.2, 0.1];

                const response = await fetch('/rank-destinations', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        user_preferences: userPreferences,
                        countries: countries,
                        coordinates: coordinates,
                        currencies: currencies,
                        weights: weights
                    })
                });

                const rankedResults = await response.json();
                resultsDiv.innerHTML = `<h2>Ranked Destinations:</h2>`;

                rankedResults.forEach(destination => {
                    resultsDiv.innerHTML += `<p>${destination[0]}: Final Score ${destination[1]}</p>`;
                });
            } catch (error) {
                console.error('Error in form submission:', error);
                const resultsDiv = document.getElementById('results');
                resultsDiv.innerHTML = `<p>An error occurred while fetching results.</p>`;
            } finally {
                loadingIndicator.style.display = "none";
            }
        });
    </script>
</body>